# Redundant IntelliJ
.idea/*.iws
.idea/sonarlint
.idea/tasks.xml
.idea/workspace.xml
.idea/deployment.xml

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node and npm specifics
node_modules
# As we're using Yarn!
package-lock.json
